.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
  padding: clamp(1rem, 5vw, 5rem);
}

.day {
  aspect-ratio: 1/1;
  box-sizing: border-box;
  border: 1px solid var(--secondary);
  position: relative;
}

.dayContent {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-y: scroll;
  position: relative;
}

.header {
  margin: clamp(1rem, 5vh, 3rem) clamp(1rem, 5vw, 5rem);
  margin-bottom: 0rem;
}

.dayName {
  font-size: 1.25rem;
}

.addEvent {
  background: var(--primary);
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: var(--background);
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
}

.submitEvent {
  background: var(--primary);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: var(--background);
  margin-top: 1rem;
  display: block;
  margin: auto;
  margin-top: 1rem;
}

.addEventModal {
  width: 50%;
  min-width: 250px;
  max-width: 400px;
  border-radius: 1rem;
  padding: clamp(1rem, 2vw, 3rem);
}

.addEventModal > form {
  display: flex;
  flex-direction: column;
}

.addEventModal > form > input[type="text"] {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: var(--secondary);
  margin: auto;
  margin-top: 1rem;
  width: 100%;
}

.eventBox {
  background: var(--secondary);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.eventBox:hover {
  filter: brightness(0.9);
}
