.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.event {
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
